[submodule "gui"]
	path = gui
	url = git@aoindustries.github.com:aoindustries/noc-gui.git
	branch = master
[submodule "monitor"]
	path = monitor
	url = git@aoindustries.github.com:aoindustries/noc-monitor.git
	branch = master
